
/* #region color palette */

:root{
    --bool-navbar:rgba(255, 105, 0, 1);
    --bool-shadow: grey;
    --bool-danger: red;
    --bool-accent: green;
    --bool-lighter: white;
    --bool-dark: rgba(26, 26, 26, 1);
    --bool-light: darkgray;

}
/* #endregion color palette */

/* #region Common rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.container.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row{
    display: flex;
    justify-content: space-between;
    gap: 1%;
    margin-bottom: 2rem;
}

svg{
    margin-right: 0.25rem;
}

h4, h5{
    padding: 0.35rem 0;
}

a{
    padding-right: 0.4rem;
}

/* #endregion Common rules */

/* #region Header */

#site_header {
    height: 3.5rem;
    background-color: var(--bool-navbar);
    box-shadow: 0px 3px 6px 0px var(--bool-shadow);
    color: var(--bool-lighter);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

a{
    color: var(--bool-lighter);
    text-decoration: none;
}

.logo{
    max-height: 50%;
}

/* #endregion Header */

/* #region Main */

#site_main{
    margin-top: 6rem;
}

/* #region Card img */


.card img{
    width: 100%
}

.card{
    position: relative;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left:0;
    display: none;
}

.card:hover .overlay{
    display: block;
}

/* #endregion Card img */

/* #region info */

.info {
    position: absolute;
    left: 0;
    top: 75%;
    display: flex;
    gap: 0.3rem;
}

.discount, .eco-friendly{
    padding: 0.1rem 0.4rem;
    color: var(--bool-lighter);
    font-size: 0.8rem;
}

.discount{
    background-color: var(--bool-danger);
}    

.eco-friendly{
    background-color: var(--bool-accent);
}

/* #endregion info */

/* #region text */
.brand{
    color: var(--bool-light);
    font-size: 0.8rem;
}

.new-price{
    color: var(--bool-danger);
    font-weight: bold;
    font-size: 0.9rem;
}

.old-price{
    font-size: 0.9rem;
    text-decoration: line-through;
}

/* #endregion text */

/* #region heart */


.heart{
    position: absolute;
    top: 2%;
    right: 0;
    padding: 0 0.3rem;
    background-color: var(--bool-lighter);
}

.heart:hover{
    color: var(--bool-danger);
    cursor: pointer;
}

/* #endregion heart */

/* #endregion main */

/* #region footer */

#site_footer{
    height: 100px;
    background-color: var(--bool-dark);
    display: flex;
    color: var(--bool-lighter);
    border-bottom: 1px solid var(--bool-shadow);
}

#site_footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social{
    text-align: center;
}


/* #endregion footer */
